# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Virtual environments
venv/
env/
ENV/
.venv/
.env/
.env
# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# macOS
.DS_Store

# Logs
*.log
.env