MONGO_USERNAME=
MONGO_PASSWORD=

MONGO_CLUSTER_URL=
MONGO_DB_NAME=
MONGO_COLLECTION_NAME=

MONGO_URL_FIELD=url
MONGO_URL_ID_FIELD=url_id

PROXY_TOKEN=

THREAD_COUNT=1

# Choose storage
# STORAGE_TYPE=local
STORAGE_TYPE=spaces

HTML_BASE_PATH=/home/veronica/dod_etl_tool/Facebook_pages/


# If using DigitalOcean Spaces/
DO_SPACES_KEY=
DO_SPACES_SECRET=
DO_SPACES_REGION=blr1
DO_SPACES_BUCKET=
DO_SPACES_ENDPOINT=https://blr1.digitaloceanspaces.com

